.upper-nav-bar {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 250px;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.upper-nav-bar h1 {
    padding: 20px;
    font-weight: lighter;
    color: white;
}

.nav-bar-item {
    position: relative;
    display: inline-grid;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
}

.nav-bar-item a {
    text-decoration: none;
    color: #c6c6c6;
    margin: 10px 25px;
    padding: 5px;
}

.nav-bar-item a:hover {
    color: white;
}

.nav-bar-item-active a {
    text-decoration: none;
    margin: 10px 25px;
    padding: 5px;
    border: 2px solid #00565B;
    border-radius: 15px;
    color: white;
}

.nav-bar-sub-item-list {
    margin-left: 10%;
}

.nav-bar-sub-item {
    position: relative;
    display: inline-grid;
    width: 100%;
    font-size: 15px;
    font-weight: lighter;
    list-style: none;
    cursor: pointer;
}

.nav-bar-icon {
    width: 22px;
    margin: 5px;
}

.logo-name {
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #9a9a9a;
}

.side-bar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #00565B;
    z-index: 999;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.navigation-item-list {
    margin-left: 10%;
    width: 90%;
}

.navigation-item {
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
}

.navigation-item-link {
    display: grid;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    align-content: center;
}

.navigation-item a:hover {
    color: white;
}

.navigation-sub-item-dropdown img {
    width: 16px;
}

.navigation-sub-item-dropdown-hidden {
    display: none;
}

.navigation-sub-item-dropdown {
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
}