# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\University Of Uva Wellassa\2nd Year\2nd sem\Project I\Project\tourist-aiding-system\TouristAidingSystemVendor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
